# Python things
.ipynb_checkpoints/
__pycache__/

# McStas compilation output
*.c
*.out

# Data
my_instrument*/
*.zip
data
iso_data/
foil_data/
iwsp_data/
scattering_data/
data_*/

# Generated scripts and text notes
simulate.sh
simulate-old.sh
*.txt

# Documentation related
*.blg
*.run.xml
*.aux
*.bbl
*.synctex.gz
*.log
*.bcf
*.pdf
*.toc