.ipynb_checkpoints/
*.c
*.out
my_instrument*/
*.zip
data
__pycache__/
data_*/
simulate.sh
simulate-old.sh
*.txt
# Documentation related
*.blg
*.run.xml
*.aux
*.bbl
*.synctex.gz
*.log
*.bcf
*.pdf
iso_data/
foil_data/
iwsp_data/